In [2]:
import pandas as pd 
import numpy as np
import re 
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./Breast_Cancer.csv')
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [ ]:
#Regional — A neoplasm that has extended, Distant — A neoplasm that has spread to parts of the body remote from

# Discovering our dataset

In [6]:
df.shape

(4024, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

# Cleaning our data

## Searching for duplicates, NaN, empty cells

In [4]:
df.isna().sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

In [5]:
(df == '').sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

In [8]:
df.duplicated().sum()

1

In [10]:
df[df.duplicated()]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
436,63,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,9,1,56,Alive

In [12]:
#this allowed me to have a look at the data from rows 400 to 438
df.loc[400:438]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
400,50,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,19,Positive,Positive,31,2,82,Alive
401,56,White,Married,T3,N1,IIIA,Well differentiated,1,Regional,90,Positive,Positive,13,1,79,Alive
402,56,White,Widowed,T1,N1,IIA,Moderately differentiated,2,Regional,10,Positive,Positive,14,1,56,Alive
403,52,White,Married,T4,N1,IIIB,Moderately differentiated,2,Regional,40,Positive,Positive,7,3,51,Alive
404,38,White,Divorced,T2,N1,IIB,Poorly differentiated,3,Regional,31,Positive,Positive,13,1,66,Alive
405,57,White,Single,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,20,2,100,Alive
406,56,Other,Single,T2,N1,IIB,Moderately differentiated,2,Regional,26,Positive,Negative,12,2,92,Alive
407,42,White,Single,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,9,2,104,Alive
408,54,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,11,Positive,Positive,1,1,91,Alive
409,69,White,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Positive,9,1,81,Alive
410,62,White,Married,T3,N1,IIIA,Poorly differentiated,3,Regional,59,Positive,Positive,7,2,75,Alive
411,63,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,23,Positive,Positive,19,1,85,Alive
412,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,3,1,78,Alive
413,47,White,Divorced,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,9,1,45,Dead
414,55,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,15,Positive,Positive,9,1,3,Alive
415,40,White,Married,T2,N1,IIB,Well differentiated,1,Regional,30,Positive,Positive,2,1,64,Alive
416,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,7,2,99,Alive
417,52,White,Single,T2,N1,IIB,Moderately differentiated,2,Regional,27,Positive,Positive,20,2,55,Alive
418,65,White,Married,T2,N1,IIB,Well differentiated,1,Regional,25,Positive,Positive,39,1,80,Alive
419,63,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,24,Positive,Positive,7,1,82,Alive
420,57,White,Single,T2,N1,IIB,Poorly differentiated,3,Regional,24,Positive,Positive,27,1,96,Alive
421,45,White,Single,T1,N2,IIIA,Poorly differentiated,3,Regional,20,Negative,Negative,17,5,51,Alive
422,62,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,10,Positive,Positive,10,1,106,Alive
423,54,White,Married,T1,N1,IIA,Well differentiated,1,Regional,7,Positive,Positive,8,2,22,Alive
424,65,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,42,Positive,Positive,8,2,83,Alive
425,64,White,Married,T3,N1,IIIA,Moderately differentiated,2,Regional,54,Positive,Positive,14,1,86,Alive
426,47,White,Married,T3,N1,IIIA,Well differentiated,1,Regional,75,Positive,Positive,20,1,99,Alive
427,63,White,Married,T1,N3,IIIC,Moderately differentiated,2,Regional,15,Positive,Positive,11,11,106,Alive
428,66,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,22,Positive,Negative,10,2,45,Dead
429,69,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,10,1,99,Alive
430,48,White,Married,T3,N2,IIIA,Moderately differentiated,2,Regional,65,Positive,Positive,11,5,84,Alive
431,60,White,Widowed,T4,N3,IIIC,Poorly differentiated,3,Regional,61,Positive,Positive,25,14,86,Alive
432,61,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,27,Positive,Positive,1,1,87,Alive
433,61,White,Married,T1,N1,IIA,Well differentiated,1,Regional,16,Positive,Positive,9,1,92,Alive
434,43,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,35,Positive,Positive,15,1,49,Alive
435,49,White,Married,T3,N3,IIIC,Poorly differentiated,3,Regional,55,Negative,Negative,19,13,30,Dead
436,63,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,9,1,56,Alive
437,61,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,8,Positive,Positive,2,1,98,Alive
438,61,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,25,3,97,Alive

In [14]:
#this allowed me to find the duplicated rows
df[(df['Survival Months'] == 56) & (df['Age'] ==63)]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
213,63,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,9,1,56,Alive
436,63,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,9,1,56,Alive
3257,63,White,Married,T3,N2,IIIA,Moderately differentiated,2,Regional,80,Positive,Positive,6,4,56,Dead
3358,63,White,Widowed,T2,N1,IIB,Well differentiated,1,Regional,23,Positive,Positive,10,1,56,Alive

## Created two lists then zipped them in order to transform object columns into int columns

In [376]:
liste_columns = list(df.columns)

liste_columns

#df.columns[[1,2,3]]

Index(['Race', 'Marital Status', 'T Stage '], dtype='object')

In [383]:
idx_col = []

for i in range(0,16):
    idx_col.append(i)
idx_col

liste_columns_idx = [item for sublist in zip(liste_columns, idx_col) for item in sublist]

liste_columns_idx

['Age',
 0,
 'Race',
 1,
 'Marital Status',
 2,
 'T Stage ',
 3,
 'N Stage',
 4,
 '6th Stage',
 5,
 'differentiate',
 6,
 'Grade',
 7,
 'A Stage',
 8,
 'Tumor Size',
 9,
 'Estrogen Status',
 10,
 'Progesterone Status',
 11,
 'Regional Node Examined',
 12,
 'Reginol Node Positive',
 13,
 'Survival Months',
 14,
 'Status',
 15]

In [384]:
#i thought all these columns were objects but they weren't

#df.columns[[0,7,9,12,13,14]] = df.columns[[0,7,9,12,13,14]].astype(str).astype(int)

TypeError: Cannot cast Index to dtype int64

# Searching for outliers

In [23]:
df.describe()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,14.357107,4.158052,71.297962
std,8.963134,21.119696,8.099675,5.109331,22.921430
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,9.000000,1.000000,56.000000
50%,54.000000,25.000000,14.000000,2.000000,73.000000
75%,61.000000,38.000000,19.000000,5.000000,90.000000
max,69.000000,140.000000,61.000000,46.000000,107.000000

# Studying our data

In [156]:
df.sample(50)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
360,55,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,10,2,53,Alive
289,41,White,Married,T3,N3,IIIC,Poorly differentiated,3,Regional,140,Positive,Positive,41,15,51,Dead
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
1739,57,White,Widowed,T4,N1,IIIB,Poorly differentiated,3,Regional,90,Negative,Negative,27,1,94,Alive
2009,35,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,30,Positive,Positive,9,1,56,Alive
492,54,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,16,Positive,Negative,7,3,67,Alive
114,54,White,Married,T3,N2,IIIA,Moderately differentiated,2,Regional,51,Positive,Positive,6,5,103,Alive
3024,67,White,Separated,T1,N1,IIA,Moderately differentiated,2,Regional,15,Positive,Positive,24,2,80,Dead
334,53,White,Widowed,T2,N1,IIB,Well differentiated,1,Regional,32,Positive,Positive,13,1,68,Alive
485,64,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,19,Positive,Positive,23,1,81,Alive
1524,62,White,Married,T2,N1,IIB,Well differentiated,1,Regional,28,Positive,Positive,19,1,89,Alive
3838,66,White,Married,T4,N3,IIIC,Moderately differentiated,2,Regional,65,Positive,Positive,19,19,20,Dead
1747,57,White,Divorced,T1,N1,IIA,Moderately differentiated,2,Regional,14,Positive,Positive,9,1,96,Alive
2985,67,White,Widowed,T2,N1,IIB,Moderately differentiated,2,Regional,35,Positive,Negative,13,1,60,Alive
855,56,White,Married,T2,N2,IIIA,Poorly differentiated,3,Regional,29,Positive,Positive,25,8,107,Alive
2982,53,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,15,Positive,Positive,23,1,80,Alive
1634,47,White,Divorced,T2,N1,IIB,Poorly differentiated,3,Regional,32,Positive,Positive,17,2,92,Alive
683,46,White,Divorced,T1,N2,IIIA,Moderately differentiated,2,Regional,15,Positive,Positive,9,5,73,Dead
1971,38,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,45,Positive,Positive,14,3,66,Alive
199,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,11,2,103,Alive
617,61,White,Married,T2,N1,IIB,Well differentiated,1,Regional,21,Positive,Positive,2,1,72,Alive
1611,59,White,Married,T1,N1,IIA,Well differentiated,1,Regional,15,Positive,Positive,20,1,76,Alive
1988,50,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,17,3,69,Alive
2762,56,White,Divorced,T4,N2,IIIB,Moderately differentiated,2,Regional,35,Positive,Positive,6,5,66,Alive
1774,53,Black,Married,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,9,2,61,Alive
654,45,Other,Separated,T3,N1,IIIA,Poorly differentiated,3,Regional,58,Negative,Negative,26,2,64,Alive
604,54,White,Single,T2,N1,IIB,Poorly differentiated,3,Regional,25,Negative,Negative,22,1,93,Alive
3921,68,White,Divorced,T1,N1,IIA,Poorly differentiated,3,Regional,15,Positive,Positive,9,2,74,Alive
3702,34,White,Single,T2,N2,IIIA,Moderately differentiated,2,Regional,40,Positive,Positive,21,6,12,Alive
1294,46,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,6,2,58,Alive
1248,57,Other,Married,T1,N1,IIA,Well differentiated,1,Regional,15,Positive,Positive,20,3,84,Alive
3252,66,Other,Widowed,T2,N1,IIB,Moderately differentiated,2,Regional,47,Positive,Positive,2,1,84,Alive
443,49,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,18,Positive,Positive,29,2,74,Alive
278,67,White,Married,T1,N1,IIA,Well differentiated,1,Regional,20,Positive,Positive,14,2,99,Alive
922,49,White,Married,T3,N3,IIIC,Moderately differentiated,2,Regional,92,Positive,Positive,27,27,23,Dead
1030,69,White,Married,T1,N1,IIA,Well differentiated,1,Regional,10,Positive,Positive,15,1,83,Alive
3290,50,White,Married,T1,N2,IIIA,Moderately differentiated,2,Regional,14,Positive,Positive,13,5,33,Alive
1320,31,White,Married,T3,N3,IIIC,Poorly differentiated,3,Regional,60,Positive,Negative,30,12,46,Dead
927,45,Black,Separated,T2,N1,IIB,Well differentiated,1,Regional,50,Positive,Negative,5,3,65,Alive
3239,50,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,9,3,38,Dead
1263,65,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,38,Positive,Positive,3,3,98,Dead
1346,47,Other,Married,T3,N1,IIIA,Moderately differentiated,2,Regional,80,Positive,Positive,21,4,30,Dead
379,58,White,Married,T3,N2,IIIA,Moderately differentiated,2,Regional,90,Positive,Positive,15,9,100,Dead
3781,37,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,7,Positive,Positive,16,2,75,Alive
3634,57,White,Divorced,T1,N1,IIA,Moderately differentiated,2,Regional,13,Positive,Positive,2,1,101,Alive
1878,56,White,Married,T1,N2,IIIA,Moderately differentiated,2,Regional,20,Positive,Positive,12,7,74,Alive
3058,49,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,35,Positive,Positive,24,3,64,Alive
3998,68,White,Divorced,T1,N1,IIA,Well differentiated,1,Regional,18,Positive,Positive,11,1,100,Alive
2361,45,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,20,Negative,Negative,18,2,37,Dead
1979,67,White,Widowed,T1,N3,IIIC,Moderately differentiated,2,Regional,10,Positive,Positive,29,13,102,Alive

In [18]:
df['Race'].unique()

array(['White', 'Black', 'Other'], dtype=object)

In [22]:
print(f"{(df['Race'] == 'White').sum()} white patients")
print(f"{(df['Race'] == 'Black').sum()} black patients")
print(f"{(df['Race'] == 'Other').sum()} patients of other ethnicities")

3413 white patients
291 black patients
320 patients of other ethnicities

In [245]:
df_white = df[df['Race'] == 'White']
df_White = df_white 
White = df_white 
(df_white['Age']).mean()

54.32903603867565

# Age of patients

## Mean age of our data set

In [38]:
(df['Age']).mean()

53.97216699801193

## Age according to race

### Caucasian

In [40]:
df_white['Age'].mean()

#df_white['Age'].sample(291).mean()

54.32903603867565

#### Age under 45

In [134]:
len(df_white[df_white['Age'] < 45]) / len(df_white)* 100

14.239671842953413

In [153]:
len(df_white[(df_white['Age'] < 45) & (df_white['Status'] == 'Alive')]) / len(df_white[df_white['Age'] < 45])* 100
print(f"survival rate for caucasian women under 45 is 85%")

survival rate for caucasian women under 45 is 85%

### African-American

In [244]:
df_black = df[df['Race'] == 'Black']
df_Black = df_black
Black = df_black 

(df_black['Age']).mean()

52.580756013745706

#### Age under 45

In [135]:
len(df_black[df_black['Age'] < 45]) / len(df_black)* 100

19.587628865979383

In [152]:
len(df_black[(df_black['Age'] < 45) & (df_black['Status'] == 'Alive')]) / len(df_black[df_black['Age'] < 45])* 100
print(f"survival rate for black women under 45 is 73%")

survival rate for black women under 45 is 73%

### Other Ethnicities

In [243]:
#other :American Indian/AK Native, Asian/Pacific Islander

df_other = df[df['Race'] == 'Other']
df_Other = df_other
Other = df_other 
(df_other['Age']).mean()

51.43125

#### Age under 45

In [136]:
len(df_other[df_other['Age'] < 45]) / len(df_other)* 100

25.937500000000004

In [151]:
len(df_other[(df_other['Age'] < 45) & (df_other['Status'] == 'Alive')]) / len(df_other[df_other['Age'] < 45])* 100

print(f"survival rate for women under 45 and of other ethnicity is 89%")

survival rate for women under 45 and of other ethnicity is 89%

## Conclusion

In [155]:
print(f"According to race, we can see from this survey that the mean age for cancer is highest in caucasians,"
     "then blacks and finally others. Also, the survival rate is highest in others, then caucasians with very"
     "little difference but there is a 10-15 point gap with black patients")

According to race, we can see from this survey that the mean age for cancer is highest in caucasians,then blacks and finally others. Also, the survival rate is highest in others, then caucasians with verylittle difference but there is a 10-15 point gap with black patients

## Having equal number of patients

In [44]:
print(f"What i will do is sample of each race equal to the smallest number represented ie the black patients"
      " who have 291 patients. From there i'll calculate the mean age to see if anything changes")

What i will do is sample of each race equal to the smallest number represented ie the black patients who have 291 patients. From there i'll calculate the mean age to see if anything changes

In [45]:
df_white['Age'].sample(291).mean()

54.6426116838488

In [46]:
df_other['Age'].sample(291).mean()

51.1958762886598

In [47]:
print(f"Even with equal number of patients in all 3 ethnicities, we can see that the rank remains the same")

Even with equal number of patients in all 3 ethnicities, we can see that the rank remains the same

## Survival rate

In [61]:
(df_white['Status'] == 'Alive').sum() / len(df_white)
(df_white['Status'] == 'Alive').sample(291).sum() / len(df_white.sample(291))

0.872852233676976

In [50]:
(df_black['Status'] == 'Alive').sum() / len(df_black)

0.7491408934707904

In [66]:
(df_other['Status'] == 'Alive').sum() / len(df_other)
(df_other['Status'] == 'Alive').sample(291).sum() / len(df_other.sample(291))

0.9072164948453608

### Survival rate according to marital status

#### For caucasians

In [115]:
len(df_white[(df_white['Status'] == 'Alive') & (df_white['Marital Status'] == 'Married')]) / len(df_white[df_white['Marital Status']== 'Married'])

len(df_white[(df_white['Status'] == 'Alive') & (df_white['Marital Status'] == 'Divorced')]) / len(df_white[df_white['Marital Status']== 'Divorced'])

#len(df_white[(df_white['Status'] == 'Alive') & (df_white['Marital Status'] == 'Single')]) / len(df_white[df_white['Marital Status']== 'Single'])

0.8129496402877698

In [84]:
#len(df_white)
len(df_white[df_white['Status'] =='Dead'])

510

In [72]:
75000/29

2586.206896551724

#### For blacks

In [106]:
len(df_black[(df_black['Status'] == 'Alive') & (df_black['Marital Status'] == 'Married')]) / len(df_black[df_black['Marital Status']== 'Married'])

#len(df_black[(df_black['Status'] == 'Alive') & (df_black['Marital Status'] == 'Divorced')]) / len(df_black[df_black['Marital Status']== 'Divorced'])

#len(df_black[(df_black['Status'] == 'Alive') & (df_black['Marital Status'] == 'Single')]) / len(df_black[df_black['Marital Status']== 'Single'])

0.831858407079646

#### For others

In [112]:
len(df_other[(df_other['Status'] == 'Alive') & (df_other['Marital Status'] == 'Married')]) / len(df_other[df_other['Marital Status']== 'Married'])

#len(df_other[(df_other['Status'] == 'Alive') & (df_other['Marital Status'] == 'Divorced')]) / len(df_other[df_other['Marital Status']== 'Divorced'])

#len(df_other[(df_other['Status'] == 'Alive') & (df_other['Marital Status'] == 'Single')]) / len(df_other[df_other['Marital Status']== 'Single'])

0.9240506329113924

In [114]:
print(f"There are surely elements that i am missing, yet the survival rate if married is higher than if divorced"
      ". Could it be that you have more money or better moral support or none of the above.")

There are surely elements that i am missing, yet the survival rate if married is higher than if divorced. Could it be that you have more money or better moral support or none of the above.

# Grade levels death rate

In [288]:
liste_race = list((df['Race']).unique())

for i in range(0,3):
    print(f"Out of {len(df[df['Race'] == liste_race[i]])} {liste_race[i]} women, {len(df[(df['Status'] == 'Dead') & (df['Grade']== '1') & (df['Race'] == liste_race[i])])} die from grade 1 cancer, which equals to {round(len(df[(df['Status'] == 'Dead') & (df['Grade']== '1') & (df['Race'] == liste_race[i])]) / len(df[df['Race'] == liste_race[i]]) *100,2)}% ")

Out of 3413 White women, 31 die from grade 1 cancer, which equals to 0.91%
Out of 291 Black women, 5 die from grade 1 cancer, which equals to 1.72%
Out of 320 Other women, 3 die from grade 1 cancer, which equals to 0.94%

In [ ]:
print(f"{len(f"'df_'{liste_race[0]})}""")

In [290]:
#len(df[(df['Status'] == 'Alive') & (df['Grade']== "2") & (df['Race'] == 'Other')])
for i in range(0,3):
    print(f"Out of {len(df[df['Race'] == liste_race[i]])} {liste_race[i]} women, {len(df[(df['Status'] == 'Dead') & (df['Grade']== '2') & (df['Race'] == liste_race[i])])} die from grade 2 cancer, which equals to {round(len(df[(df['Status'] == 'Dead') & (df['Grade']== '2') & (df['Race'] == liste_race[i])]) / len(df[df['Race'] == liste_race[i]]) *100,2)}% ")

Out of 3413 White women, 256 die from grade 2 cancer, which equals to 7.5%
Out of 291 Black women, 32 die from grade 2 cancer, which equals to 11.0%
Out of 320 Other women, 17 die from grade 2 cancer, which equals to 5.31%

In [291]:
#len(df[(df['Status'] == 'Alive') & (df['Grade']== "3") & (df['Race'] == 'Other')])
for i in range(0,3):
    print(f"Out of {len(df[df['Race'] == liste_race[i]])} {liste_race[i]} women, {len(df[(df['Status'] == 'Dead') & (df['Grade']== '3') & (df['Race'] == liste_race[i])])} die from grade 3 cancer, which equals to {round(len(df[(df['Status'] == 'Dead') & (df['Grade']== '3') & (df['Race'] == liste_race[i])]) / len(df[df['Race'] == liste_race[i]]) *100,2)}% ")

Out of 3413 White women, 216 die from grade 3 cancer, which equals to 6.33%
Out of 291 Black women, 34 die from grade 3 cancer, which equals to 11.68%
Out of 320 Other women, 13 die from grade 3 cancer, which equals to 4.06%

In [348]:
for i in range(0,3):
    for y in range(1,4):
        print(f"Out of {len(df[df['Race'] == liste_race[i]])} {liste_race[i]} women, {len(df[(df['Status'] == 'Dead') & (df['Grade']== str(y)) & (df['Race'] == liste_race[i])])} die from grade {str(y)} cancer, which equals to {round(len(df[(df['Status'] == 'Dead') & (df['Grade']== str(y)) & (df['Race'] == liste_race[i])]) / len(df[df['Race'] == liste_race[i]]) *100,2)}% \n")

Out of 3413 White women, 31 die from grade 1 cancer, which equals to 0.91%

Out of 3413 White women, 256 die from grade 2 cancer, which equals to 7.5%

Out of 3413 White women, 216 die from grade 3 cancer, which equals to 6.33%

Out of 291 Black women, 5 die from grade 1 cancer, which equals to 1.72%

Out of 291 Black women, 32 die from grade 2 cancer, which equals to 11.0%

Out of 291 Black women, 34 die from grade 3 cancer, which equals to 11.68%

Out of 320 Other women, 3 die from grade 1 cancer, which equals to 0.94%

Out of 320 Other women, 17 die from grade 2 cancer, which equals to 5.31%

Out of 320 Other women, 13 die from grade 3 cancer, which equals to 4.06%

# Grade levels survival rate

In [347]:
for i in range(0,3):
    for y in range(1,4):
        print(f"Out of {len(df[df['Race'] == liste_race[i]])} {liste_race[i]} women, {len(df[(df['Status'] == 'Alive') & (df['Grade']== str(y)) & (df['Race'] == liste_race[i])])} survive grade {str(y)} cancer, which equals to {round(len(df[(df['Status'] == 'Alive') & (df['Grade']== str(y)) & (df['Race'] == liste_race[i])]) / len(df[df['Race'] == liste_race[i]]) *100,2)}% \n")

Out of 3413 White women, 434 survive grade 1 cancer, which equals to 12.72%

Out of 3413 White women, 1774 survive grade 2 cancer, which equals to 51.98%

Out of 3413 White women, 686 survive grade 3 cancer, which equals to 20.1%

Out of 291 Black women, 27 survive grade 1 cancer, which equals to 9.28%

Out of 291 Black women, 109 survive grade 2 cancer, which equals to 37.46%

Out of 291 Black women, 81 survive grade 3 cancer, which equals to 27.84%

Out of 320 Other women, 43 survive grade 1 cancer, which equals to 13.44%

Out of 320 Other women, 163 survive grade 2 cancer, which equals to 50.94%

Out of 320 Other women, 81 survive grade 3 cancer, which equals to 25.31%

# Tumor size

## By mean

In [354]:
df_white.groupby('Status').agg({'Tumor Size':'mean'})

        Tumor Size
Status
Alive    29.210472
Dead     37.307843

#### Recalculating mean with exact amount of patients in both categories

In [422]:
#len(df_white[df_white['Status'] == 'Alive'])

len(df_white[df_white['Status'] == 'Dead'])

510

In [450]:
#this gives us a rough idea of a mean we could get if our sample was equal in number, 
#we still get a difference ranging from 5-12 points 
df_white['Tumor Size'].sample(510).mean()

30.07843137254902

### Trying the same formula for the two other ethnicities / there is an issue with this because we can make the numbers say what we want

In [355]:
df_black.groupby('Status').agg({'Tumor Size':'mean'})

        Tumor Size
Status
Alive    28.949541
Dead     35.219178

In [451]:
len(df_black[df_black['Status'] == 'Dead'])

73

In [461]:
df_black['Tumor Size'].sample(73).mean()

28.904109589041095

In [356]:
df_other.groupby('Status').agg({'Tumor Size':'mean'})

        Tumor Size
Status
Alive    30.101045
Dead     38.787879

In [484]:
len(df_other[df_other['Status'] == 'Dead'])
df_other['Tumor Size'].sample(33).mean()

26.696969696969695

## Other method

In [400]:
len(df_white[(df_white['Tumor Size'] > 80) & (df_white['Status'] == 'Alive')]) 

len(df_white[(df_white['Tumor Size'] > 80) & (df_white['Status'] == 'Dead')]) 

len(df_white[df_white['Tumor Size'] > 80]) 

#len(df_white[(df_white['Tumor Size'] > 80) & (df_white['Status'] == 'Dead')]) / len(df_white[df_white['Tumor Size'] > 80]) *100

28.971962616822427

### death rate for white women with tumor size above 100

In [597]:
print(f"{round(len(df_white[(df_white['Tumor Size'] > 100) & (df_white['Status'] == 'Dead')]) / len(df_white[df_white['Tumor Size'] > 100]) *100,2)}%")

29.73%

### survival rate for white women with tumor size above 100

In [403]:
len(df_white[(df_white['Tumor Size'] > 100) & (df_white['Status'] == 'Alive')]) / len(df_white[df_white['Tumor Size'] > 100]) *100

70.27027027027027

### death rate for black women with tumor size above 100

In [405]:
len(df_black[(df_black['Tumor Size'] > 100) & (df_black['Status'] == 'Dead')]) / len(df_black[df_black['Tumor Size'] > 100]) *100

25.0

### survival rate for black women with tumor size above 100

In [406]:
len(df_black[(df_black['Tumor Size'] > 100) & (df_black['Status'] == 'Alive')]) / len(df_black[df_black['Tumor Size'] > 100]) *100

75.0

### death rate for other women with tumor size above 100

In [415]:
len(df_other[(df_other['Tumor Size'] > 100) & (df_other['Status'] == 'Dead')]) / len(df_other[df_other['Tumor Size'] > 100]) *100

0.0

### survival rate for other women with tumor size above 100

In [416]:
len(df_other[(df_other['Tumor Size'] > 100) & (df_other['Status'] == 'Alive')]) / len(df_other[df_other['Tumor Size'] > 100]) *100

100.0

## Using Value counts

In [419]:
df_white[['Tumor Size', 'Status']].value_counts().to_frame()

                     0
Tumor Size Status
15         Alive   211
25         Alive   195
30         Alive   158
20         Alive   155
18         Alive   117
...                ...
49         Dead      1
1          Dead      1
92         Dead      1
94         Alive     1
140        Dead      1

[184 rows x 1 columns]

In [495]:
white_dead = df_white[df_white['Status']== 'Dead']
black_dead = df_black[df_black['Status']== 'Dead']
other_dead = df_other[df_other['Status']== 'Dead']

In [494]:
white_dead[['Tumor Size', 'Status']].value_counts().to_frame().head(20)

                    0
Tumor Size Status
25         Dead    36
40         Dead    26
35         Dead    26
20         Dead    25
30         Dead    25
50         Dead    20
18         Dead    19
60         Dead    17
22         Dead    16
12         Dead    14
15         Dead    14
21         Dead    13
55         Dead    11
70         Dead    11
45         Dead    10
13         Dead    10
17         Dead    10
28         Dead    10
24         Dead     9
16         Dead     9

In [496]:
black_dead[['Tumor Size', 'Status']].value_counts().to_frame().head(20)

                   0
Tumor Size Status
30         Dead    6
35         Dead    5
40         Dead    4
15         Dead    3
25         Dead    3
47         Dead    3
18         Dead    3
20         Dead    3
24         Dead    2
28         Dead    2
11         Dead    2
70         Dead    2
7          Dead    2
22         Dead    2
23         Dead    2
12         Dead    2
100        Dead    2
90         Dead    2
48         Dead    1
50         Dead    1

In [497]:
other_dead[['Tumor Size', 'Status']].value_counts().to_frame().head(20)

                   0
Tumor Size Status
35         Dead    2
18         Dead    2
20         Dead    2
21         Dead    2
22         Dead    2
80         Dead    2
60         Dead    2
30         Dead    2
40         Dead    2
41         Dead    1
85         Dead    1
70         Dead    1
50         Dead    1
48         Dead    1
47         Dead    1
15         Dead    1
38         Dead    1
16         Dead    1
28         Dead    1
26         Dead    1

# Survival months

In [561]:
liste_race_2 = []

for x in liste_race:
    liste_race_2.append(x.lower())

## Mean months before succumbing to cancer regardless of other factors

In [591]:
q_9 = white_dead, black_dead, other_dead
    
for i in range(0,3):
    print(f"{liste_race[i]} women succumb to breast cancer in about {round(q_9[i]['Survival Months'].mean())} months on average")

White women succumb to breast cancer in about 46 months on average
Black women succumb to breast cancer in about 41 months on average
Other women succumb to breast cancer in about 50 months on average

### Under the age of 45

In [579]:
white_dead_u45 = df_white[(df_white['Status'] == 'Dead') & (df_white['Age'] < 45)]
black_dead_u45 = df_black[(df_black['Status'] == 'Dead') & (df_black['Age'] < 45)]
other_dead_u45 = df_other[(df_other['Status'] == 'Dead') & (df_other['Age'] < 45)]

In [590]:
q_9_u45 = white_dead_u45, black_dead_u45, other_dead_u45
    
for i in range(0,3):
    print(f"{liste_race[i]} women under 45 succumb to breast cancer in about {round(q_9_u45[i]['Survival Months'].mean())} months on average")

White women under 45 succumb to breast cancer in about 46 months on average
Black women under 45 succumb to breast cancer in about 39 months on average
Other women under 45 succumb to breast cancer in about 60 months on average

### Over the age of 45

In [589]:
white_dead_o45 = df_white[(df_white['Status'] == 'Dead') & (df_white['Age'] > 45)]
black_dead_o45 = df_black[(df_black['Status'] == 'Dead') & (df_black['Age'] > 45)]
other_dead_o45 = df_other[(df_other['Status'] == 'Dead') & (df_other['Age'] > 45)]

q_9_o45 = white_dead_o45, black_dead_o45, other_dead_o45
    
for i in range(0,3):
    print(f"{liste_race[i]} women over 45 succumb to breast cancer in about {round(q_9_o45[i]['Survival Months'].mean())} months on average")

White women over 45 succumb to breast cancer in about 46 months on average
Black women over 45 succumb to breast cancer in about 41 months on average
Other women over 45 succumb to breast cancer in about 47 months on average

## Mean months before beating cancer regardless of other factors

In [583]:
white_alive = df_white[df_white['Status'] == 'Alive']
black_alive = df_black[df_black['Status'] == 'Alive']
other_alive = df_other[df_other['Status'] == 'Alive']

q_9_2 = white_alive, black_alive, other_alive

In [588]:
for i in range(0,3):
    print(f"{liste_race[i]} women survive breast cancer after {round(q_9_2[i]['Survival Months'].mean())} months on average ")

White women survive breast cancer after 76 months on average
Black women survive breast cancer after 75 months on average
Other women survive breast cancer after 76 months on average

### Under the age of 45

In [587]:
white_alive_u45 = df_white[(df_white['Status'] == 'Alive') & (df_white['Age'] < 45)]
black_alive_u45 = df_black[(df_black['Status'] == 'Alive') & (df_black['Age'] < 45)]
other_alive_u45 = df_other[(df_other['Status'] == 'Alive') & (df_other['Age'] < 45)]

q_9_2_u45 = white_alive_u45, black_alive_u45, other_alive_u45
    
for i in range(0,3):
    print(f"{liste_race[i]} women under 45 survive breast cancer after {round(q_9_2_u45[i]['Survival Months'].mean())} months on average")

White women under 45 survive breast cancer after 75 months on average
Black women under 45 survive breast cancer after 77 months on average
Other women under 45 survive breast cancer after 74 months on average

### Over the age of 45

In [593]:
white_alive_o45 = df_white[(df_white['Status'] == 'Alive') & (df_white['Age'] > 45)]
black_alive_o45 = df_black[(df_black['Status'] == 'Alive') & (df_black['Age'] > 45)]
other_alive_o45 = df_other[(df_other['Status'] == 'Alive') & (df_other['Age'] > 45)]

q_9_2_o45 = white_alive_o45, black_alive_o45, other_alive_o45
    
for i in range(0,3):
    print(f"{liste_race[i]} women over 45 survive breast cancer after {round(q_9_2_o45[i]['Survival Months'].mean())} months on average")

White women over 45 survive breast cancer after 76 months on average
Black women over 45 survive breast cancer after 75 months on average
Other women over 45 survive breast cancer after 77 months on average

# Other

In [598]:
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [599]:
df['6th Stage'].unique()

array(['IIA', 'IIIA', 'IIIC', 'IIB', 'IIIB'], dtype=object)

In [600]:
df['Grade'].unique()

array(['3', '2', '1', ' anaplastic; Grade IV'], dtype=object)

In [602]:
df['A Stage'].unique()

array(['Regional', 'Distant'], dtype=object)

In [601]:
df[df['Grade'] == ' anaplastic; Grade IV']

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
277,52,Black,Single,T3,N3,IIIC,Undifferentiated,anaplastic; Grade IV,Regional,100,Positive,Positive,23,17,16,Dead
616,38,White,Married,T3,N1,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,70,Positive,Positive,10,1,102,Alive
618,37,Black,Married,T3,N1,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,60,Positive,Positive,5,2,97,Alive
767,69,White,Married,T1,N1,IIA,Undifferentiated,anaplastic; Grade IV,Regional,20,Positive,Positive,17,3,85,Alive
1013,59,White,Single,T2,N2,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,40,Negative,Negative,10,9,33,Dead
1061,67,White,Married,T2,N3,IIIC,Undifferentiated,anaplastic; Grade IV,Regional,21,Positive,Positive,25,17,75,Alive
1458,39,White,Single,T3,N2,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,70,Positive,Positive,14,4,79,Dead
1541,69,White,Widowed,T2,N3,IIIC,Undifferentiated,anaplastic; Grade IV,Regional,28,Positive,Positive,14,13,13,Dead
1560,58,White,Single,T1,N2,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,19,Negative,Negative,47,7,9,Dead
1716,43,White,Married,T3,N2,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,75,Negative,Negative,10,5,59,Dead
2172,62,Black,Separated,T4,N3,IIIC,Undifferentiated,anaplastic; Grade IV,Regional,70,Positive,Positive,10,10,34,Dead
2177,63,White,Married,T2,N1,IIB,Undifferentiated,anaplastic; Grade IV,Regional,25,Negative,Positive,10,2,27,Dead
2246,50,White,Married,T3,N1,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,55,Positive,Positive,12,1,89,Alive
2411,57,White,Married,T1,N1,IIA,Undifferentiated,anaplastic; Grade IV,Regional,18,Positive,Positive,5,1,98,Alive
2717,40,White,Single,T3,N1,IIIA,Undifferentiated,anaplastic; Grade IV,Regional,52,Positive,Positive,11,9,88,Alive
3073,43,White,Married,T4,N3,IIIC,Undifferentiated,anaplastic; Grade IV,Regional,59,Negative,Positive,16,10,55,Alive
3212,54,White,Divorced,T1,N1,IIA,Undifferentiated,anaplastic; Grade IV,Regional,16,Positive,Negative,19,2,101,Alive
3248,45,White,Married,T1,N1,IIA,Undifferentiated,anaplastic; Grade IV,Regional,13,Positive,Positive,5,1,93,Alive
3526,49,White,Married,T2,N1,IIB,Undifferentiated,anaplastic; Grade IV,Regional,28,Positive,Positive,12,3,71,Dead

In [615]:
len(df[(df['T Stage '] == 'T4') & (df['Status'] == 'Dead')])

40